Source: cudf
Section: devel
Priority: optional
Maintainer: Stefano Zacchiroli <zack@debian.org>
Build-Depends:
 debhelper (>= 7),
 cdbs,
 dh-ocaml,
 ocaml-nox,
 ocaml-findlib,
 libpcre-ocaml-dev,
 libextlib-ocaml-dev,
 libounit-ocaml-dev
Standards-Version: 3.8.1
Vcs-Svn: https://gforge.info.ucl.ac.be/svn/mancoosi/trunk/updb/libcudf
Vcs-Browser: http://gforge.info.ucl.ac.be/plugins/scmsvn/viewcvs.php/trunk/updb/libcudf/?root=mancoosi
Homepage: http://www.mancoosi.org/software/

Package: libcudf-ocaml-dev
Architecture: any
Section: libdevel
Depends:
 ocaml-nox-${F:OCamlABI},
 ocaml-findlib,
 libpcre-ocaml-dev,
 libextlib-ocaml-dev,
 ${misc:Depends}
Description: OCaml library to access descriptions of package upgrade problems
 libCUDF is a library to manipulate so called CUDF documents. A CUDF
 document describe an upgrade problem, as faced by package managers in
 popular package-based GNU/Linux distributions.
 .
 A CUDF document consists of a package universe and of a user request.
 The package universe describes all packages known to the package
 manager, a subset of which (the package status) denotes the package
 being currently installed on the target machine.  The user request
 denotes a change to the package status as requested by the user.
 .
 A CUDF document is naturally complemented by a solution describing
 the resulting package status (if any) implementing the user request,
 as found by a package manager.
 .
 libCUDF enables manipulation of CUDF and related documents.
 .
 This package contains all the development stuff you need to use
 libCUDF in your OCaml programs.

Package: libcudf-dev
Architecture: any
Section: libdevel
Depends:
 libc6-dev,
 libpcre-ocaml-dev,
 libglib2.0-dev,
 libncurses5-dev
Description: C library to access descriptions of package upgrade problems
 libCUDF is a library to manipulate so called CUDF documents. A CUDF
 document describe an upgrade problem, as faced by package managers in
 popular package-based GNU/Linux distributions.
 .
 A CUDF document consists of a package universe and of a user request.
 The package universe describes all packages known to the package
 manager, a subset of which (the package status) denotes the package
 being currently installed on the target machine.  The user request
 denotes a change to the package status as requested by the user.
 .
 A CUDF document is naturally complemented by a solution describing
 the resulting package status (if any) implementing the user request,
 as found by a package manager.
 .
 libCUDF enables manipulation of CUDF and related documents.
 .
 This package contains a C static library binding the OCaml
 implementation of libCUDF so that it can be used from the C
 programming language.

Package: cudf-tools
Architecture: any
Section: devel
Depends:
 ${F:OCamlInterpDepends},
 ${shlibs:Depends}
 ${misc:Depends}
Description: command line tools for package upgrade problem descriptions
 A CUDF document describe an upgrade problem, as faced by package
 managers in popular package-based GNU/Linux distributions.
 .
 A CUDF document consists of a package universe and of a user request.
 The package universe describes all packages known to the package
 manager, a subset of which (the package status) denotes the package
 being currently installed on the target machine.  The user request
 denotes a change to the package status as requested by the user.
 .
 A CUDF document is naturally complemented by a solution describing
 the resulting package status (if any) implementing the user request,
 as found by a package manager.
 .
 This package contains command line tools to manipulate CUDF and
 related documents. In particular it contains cudf-check, which
 enables checking of document properties such as installation
 consistency and matching of problems with their solutions.

